@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

:root {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

.title {
 font-family: 'Silkscreen', cursive;
 font-size: 48px;
 color: white;
 text-align: center;
 margin-top: 50px;
}


.card-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

}



.columns {
    background-color: white;
    font-family:'Antonio', sans-serif;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.column {
    margin-left: 35px;
    margin-right: 35px;
}
.tag {
    margin-bottom: 10px;
    font-size: 24px;
}

.toggle-box {
    font-size: 24px;
    background-color: white;
    font-family: 'Antonio', sans-serif;
    box-shadow: 0 0.4rem .2rem 0 rgb(200, 53, 53);
    transition: transform 150ms;
    transform: scale(1);
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

h2 {
    font-weight: 600;

}

p {
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
}

time {
    font-family: 'Antonio', sans-serif;
}

.card {
    margin-top: 20px;

}

.toggle-button {
margin-bottom: 10px;
height: 35px;
width: 35px;
margin-left: 15px;
margin-right: 15px;
}

.buttons {
    justify-content: center
}

.footer {
    font-family: 'Antonio', sans-serif;
    height: 200px;
    margin-top: 100px;
}

.card{
	height: max-content;

}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(238, 144, 144);
    transform: scale(1);
    transform: transform 100ms;
    animation: bounce 0.5s linear;
}

.toggle-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(149, 238, 144);
    transform: scale(1);
    transform: transform 100ms;
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20%{
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }

}

.navbar-search {
    margin-top: 28px;

}

.input {
    font-family: 'Antonio', sans-serif;
}

.playstation-hide {
    display: none;
}

.xbox-hide {
    display: none;
}

.pc-hide {
    display: none;
}

.hide {
    display:none;
}