@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

:root {
    background-color: black;
}

.footer {
    font-family: 'Antonio', sans-serif;
    height: 200px;
    margin-top: 100px;
}

.hero-body {
    opacity: 1;

}

.logotitle {
    font-family: 'Silkscreen', cursive;
    font-size: 36px;
}

a {
    font-family:'Antonio', sans-serif;
    font-size: 24px;
}

.navbar-search {
    margin-top: 28px;
}

.input {
    font-family: 'Antonio', sans-serif;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.dots {
    margin-bottom: 100px;
    
}


.video-player {
    position: relative;
    width: auto;
    overflow: hidden;

    
}

.video {
    width: 100%;
    margin-top: 50px;
    image-resolution: 1080px;
    
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 125px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: black;
    font-family: 'Antonio', sans-serif;
    box-shadow: 0 0.4rem .2rem 0 rgb(255, 255, 255);
    transition: transform 150ms;
    transform: scale(1);
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: 'Antonio', sans-serif;
}

p {
    font-family: 'Antonio', sans-serif;
    
}